.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.c {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.box {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border:1px solid black;
  display: grid;

}

.b {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}